force-app/main/default/flows/Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Inspection_Record_GC_Assigned</name>
        <label>Update Inspection Record(GC Assigned)</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Create_Reviewer_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Inspection_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bid Reviewer Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_after_General_Contractor_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InspectionReadonly</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>InspectionReadWrite</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Inspection_Decision</name>
        <label>Inspection Decision</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inspection_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Inspection Creation</label>
        </rules>
        <rules>
            <name>General_Contractor_Assignement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Vendor_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_Vendor_Form__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Record_GC_Assigned</targetReference>
            </connector>
            <label>General Contractor Assignement</label>
        </rules>
        <rules>
            <name>Work_Authorization_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.doCreateWAF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.doCreateWAF__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Rehab_Creation</targetReference>
            </connector>
            <label>Work Authorization Creation</label>
        </rules>
        <rules>
            <name>Pending_Cancel_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pipeline_ID__r.Pending_Cancel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pipeline_ID__r.Pending_Cancel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_stage_Prior_value_Pending_Cancel</targetReference>
            </connector>
            <label>Pending Cancel Stage</label>
        </rules>
        <rules>
            <name>Submit_Bid_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Recommendation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Recommendation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Rejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vendor_Bid_Submission_complete</targetReference>
            </connector>
            <label>Submit Bid for Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InspectionstagePriorvalue</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Inspection_Stage__c})</expression>
    </formulas>
    <formulas>
        <name>IsNewVariable</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Initial_Rehab_Creation</name>
        <label>Initial Rehab Creation</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>InitialRehabID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Inspection_WAF</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_Change_Order_1_Date__c</field>
            <value>
                <elementReference>$Record.Approved_Change_Order_1_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Rehab_Stage__c</field>
            <value>
                <stringValue>Job in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Initial_Rehab__c</object>
    </recordCreates>
    <recordLookups>
        <name>InspectionReadOnlyRecordType</name>
        <label>InspectionReadOnlyRecordType</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InspectionReadWriterecordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionReadonly</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InspectionReadWriterecordtype</name>
        <label>InspectionReadWriterecordtype</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionReadWrite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inspection_after_General_Contractor_Assignment</name>
        <label>Update Inspection after General Contractor Assignment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_stage_Prior_value_Pending_Cancel</name>
        <label>Update Inspection stage Prior value (Pending Cancel)</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Inspection_Stage_before_Cancel__c</field>
            <value>
                <elementReference>InspectionstagePriorvalue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_WAF</name>
        <label>Update Inspection WAF</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vendor_Bid_Submission_complete</name>
        <label>Update Vendor Bid Submission complete</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Vendor_Bid_Submission_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InspectionReadOnlyRecordType</targetReference>
        </connector>
        <object>Inspection__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InitialRehabID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
