force-app/main/default/flows/Pipeline_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>InspectionReadOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspection_Read_Only</stringValue>
        </value>
    </constants>
    <constants>
        <name>InspectionReadWrite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspection_Read_Write</stringValue>
        </value>
    </constants>
    <constants>
        <name>PipelineReadOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipeline_Read_Only</stringValue>
        </value>
    </constants>
    <constants>
        <name>PipelineReadWrite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipeline_Read_Write</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProspectReadOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect_Read_Only</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProspectReadwrite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect_Read_Write</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pipeline_Process_Decision</name>
        <label>Pipeline Process Decision</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.doCreateProperty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.doCreateProperty__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Property_Record</targetReference>
            </connector>
            <label>Create Property</label>
        </rules>
        <rules>
            <name>Pending_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Cancel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Cancel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pipeline_Stage_dec_2</targetReference>
            </connector>
            <label>Pending Cancel</label>
        </rules>
        <rules>
            <name>Cancel_Pipeline_Prospect_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Canceled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Canceled_to_Pipeline</targetReference>
            </connector>
            <label>Cancel - Pipeline | Prospect | Inspection</label>
        </rules>
        <rules>
            <name>Reopen_Pipeline_Prospect_Inspection</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Canceled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canceled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Cancel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Cancel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Pipeline</targetReference>
            </connector>
            <label>Reopen - Pipeline | Prospect | Inspection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InspectionStageBeforeCancelFormula</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Inspection_ID__r.Inspection_Stage__c})</expression>
    </formulas>
    <formulas>
        <name>PipelineStagebeforeCancelFormula</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Pipeline_Stage__c})</expression>
    </formulas>
    <formulas>
        <name>ProspectStageBeforeCancelFormula</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Prospect_Record__r.Prospect_Stage__c})</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Pipeline Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pipeline Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Property_Record</name>
        <label>Create Property Record</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Pipeline_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Acquisition_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Record__c</field>
            <value>
                <elementReference>$Record.Prospect_Record__r.Address_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analyst__c</field>
            <value>
                <elementReference>$Record.Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive__c</field>
            <value>
                <elementReference>$Record.Executive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_PM__c</field>
            <value>
                <elementReference>$Record.Field_PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Rehab_ID__c</field>
            <value>
                <elementReference>$Record.Inspection_ID__r.Initial_Rehab_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection_Record__c</field>
            <value>
                <elementReference>$Record.Inspection_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipeline_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Record__c</field>
            <value>
                <elementReference>$Record.Prospect_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Prospect_Record__r.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Director__c</field>
            <value>
                <elementReference>$Record.Repair_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Estimator__c</field>
            <value>
                <elementReference>$Record.Repair_Estimator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Manager__c</field>
            <value>
                <elementReference>$Record.Repair_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Market_New__c</field>
            <value>
                <elementReference>$Record.Prospect_Record__r.Sub_Market__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Coordinator__c</field>
            <value>
                <elementReference>$Record.Transaction_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>InspectionReadOnlyRecordType</name>
        <label>InspectionReadOnlyRecordType</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pipeline_Process_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionReadOnly</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InspectionReadWriteRecordType</name>
        <label>InspectionReadWriteRecordType</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InspectionReadOnlyRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionReadWrite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PipelineReadOnlyRecordType</name>
        <label>PipelineReadOnlyRecordType</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InspectionReadWriteRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pipeline__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PipelineReadOnly</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PipelineReadWriteRecordType</name>
        <label>PipelineReadWriteRecordType</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PipelineReadOnlyRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pipeline__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PipelineReadWrite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProspectReadOnlyRecordType</name>
        <label>ProspectReadOnlyRecordType</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PipelineReadWriteRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProspectReadOnly</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProspectReadWriteRecordType</name>
        <label>ProspectReadWriteRecordType</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProspectReadOnlyRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProspectReadwrite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reopen_Inspection</name>
        <label>Reopen Inspection</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Stage__c</field>
            <value>
                <elementReference>$Record.Inspection_ID__r.Inspection_Stage_before_Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InspectionReadWriteRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Pipeline</name>
        <label>Reopen Pipeline</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Reopen_Prospect</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_Stage__c</field>
            <value>
                <elementReference>$Record.Pipeline_Stage_before_Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PipelineReadWriteRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Prospect</name>
        <label>Reopen Prospect</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Reopen_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prospect_Stage__c</field>
            <value>
                <elementReference>$Record.Prospect_Record__r.Prospect_Stage_before_Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProspectReadWriteRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Canceled_to_Inspection</name>
        <label>Update Canceled to Inspection</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Canceled_to_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Stage__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Canceled_to_Pipeline</name>
        <label>Update Canceled to Pipeline</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Canceled_to_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_Stage__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Canceled_to_Prospect</name>
        <label>Update Canceled to Prospect</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prospect_Stage__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection</name>
        <label>Update Inspection</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Stage__c</field>
            <value>
                <stringValue>Property Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InspectionReadOnlyRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_to_Pending_Cancel</name>
        <label>Update Inspection to Pending Cancel</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Prospect_to_Pending_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Stage__c</field>
            <value>
                <stringValue>Pending Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection_Stage_before_Cancel__c</field>
            <value>
                <elementReference>InspectionStageBeforeCancelFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InspectionReadOnlyRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pipeline_stage</name>
        <label>Update Pipeline stage</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_Stage__c</field>
            <value>
                <stringValue>Property Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>Create_Property_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pipeline_Stage_dec_2</name>
        <label>Update Pipeline Stage</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Inspection_to_Pending_Cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_Stage__c</field>
            <value>
                <stringValue>Pending Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipeline_Stage_before_Cancel__c</field>
            <value>
                <elementReference>PipelineStagebeforeCancelFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PipelineReadOnlyRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prospect_to_Pending_Cancel</name>
        <label>Update Prospect to Pending Cancel</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prospect_Stage__c</field>
            <value>
                <stringValue>Pending Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Stage_before_Cancel__c</field>
            <value>
                <elementReference>ProspectStageBeforeCancelFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProspectReadOnlyRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProspectReadWriteRecordType</targetReference>
        </connector>
        <object>Pipeline__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
