force-app/main/default/flows/Property_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Create_Turn</name>
        <label>Create Turn</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Turn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Turn_ID__r.Turn_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Turn_Record_Turn</targetReference>
            </connector>
            <label>Turn</label>
        </rules>
        <rules>
            <name>Disposition_Turn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Turn_ID__r.Turn_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposition Turn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Turn_Record_Dispo_Turn</targetReference>
            </connector>
            <label>Disposition Turn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>record_is_new</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Property Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Turn_Record_Dispo_Turn</name>
        <label>Create Turn Record - Dispo Turn</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Turn_Record_Turn</name>
        <label>Create Turn Record - Turn</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Property_ID_on_Initial_Rehab_Record</name>
        <label>Update Property ID on Initial Rehab Record</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Property_ID_on_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Initial_Rehab_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Initial_Rehab__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_ID_on_Inspection</name>
        <label>Update Property ID on Inspection</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Property_Id_on_Prospect_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_Id_on_Prospect_Record</name>
        <label>Update Property Id on Prospect Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_Turn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect_Record__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Property_ID_on_Initial_Rehab_Record</targetReference>
        </connector>
        <object>Property__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TurnCoordinator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sub_Market__c</objectType>
    </variables>
</Flow>
