force-app/main/default/flows/Prospect_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Pipeline_and_Inspection</name>
        <label>Assign Pipeline and Inspection</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Prospect_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Prospect_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Analyst__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Contract_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Close_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Transaction_Coordinator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Property_Address_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_Address_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Repair_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Repair_Estimator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Estimator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Repair_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Transaction_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Transaction_Coordinator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Analyst__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Initial_Rehab_Scope_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Rehab_Scope_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Property_Address_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_Address_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Repair_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Repair_Estimator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Estimator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Repair_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Market__r.Repair_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pipeline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pipeline_ID_on_Inspection</name>
        <label>Update Pipeline ID on Inspection</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>InspectionCreationVariable.Pipeline_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PipelineCreationVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PipelineCreationVariable.Inspection_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InspectionCreationVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pipeline</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Criteria</name>
        <label>Criteria</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Moved_To_Pipeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Converted_to_Pipeline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Converted_to_Pipeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pipeline_and_Inspection</targetReference>
            </connector>
            <label>Moved To Pipeline</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prospect Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prospect Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inspection</name>
        <label>Create_Inspection</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Prospect_with_Inspection_and_Pipeline_ID</targetReference>
        </connector>
        <inputReference>InspectionCreationVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Pipeline</name>
        <label>Create Pipeline</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_Inspection</targetReference>
        </connector>
        <inputReference>PipelineCreationVariable</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Inspection</name>
        <label>Update Inspection</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <inputReference>InspectionCreationVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pipeline</name>
        <label>Update Pipeline</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Inspection</targetReference>
        </connector>
        <inputReference>PipelineCreationVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prospect_with_Inspection_and_Pipeline_ID</name>
        <label>Update Prospect with Inspection and Pipeline ID</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Pipeline_ID_on_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pipeline_ID__c</field>
            <value>
                <elementReference>PipelineCreationVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_ID__c</field>
            <value>
                <elementReference>$Record.Pipeline_ID__r.Property_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criteria</targetReference>
        </connector>
        <object>Prospect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InspectionCreationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>PipelineCreationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pipeline__c</objectType>
    </variables>
</Flow>
