force-app/main/default/flows/Turn_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>Disposition_Turn_Read_Only</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Disposition_Turn_Read_Only</stringValue>
        </value>
    </constants>
    <constants>
        <name>Disposition_Turn_Read_Write</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Disposition_Turn_Read_Write</stringValue>
        </value>
    </constants>
    <constants>
        <name>Turn_Read_Only</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn_Read_Only</stringValue>
        </value>
    </constants>
    <constants>
        <name>Turn_Read_Write</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn_Read_Write</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Turn_Record_Decision</name>
        <label>Turn Record Decision</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Turn_Record_Created_Type_Turn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Turn_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Turn_1</targetReference>
            </connector>
            <label>Turn Record Created Type - Turn</label>
        </rules>
        <rules>
            <name>Turn_Record_Created_Type_Dispo_Turn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Turn_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposition Turn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Turn</targetReference>
            </connector>
            <label>Turn Record Created Type - Dispo Turn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Turn Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Turn Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dispo_Turn_Read_Only</name>
        <label>Dispo Turn Read Only</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Turn_Record_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Turn__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Disposition_Turn_Read_Only</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dispo_Turn_Read_Write</name>
        <label>Dispo Turn Read Write</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispo_Turn_Read_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Turn__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Disposition_Turn_Read_Write</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Turn_Read_Only_Record_Type</name>
        <label>Turn Read Only Record Type</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispo_Turn_Read_Write</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Turn__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Turn_Read_Only</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Turn_Record_Type</name>
        <label>Turn Record Type</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Turn_Read_Only_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Turn__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Turn_Read_Write</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Turn</name>
        <label>Update Turn</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Turn_ID_on_Property_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Initial_Rehab_ID__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Initial_Rehab_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection_ID__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Inspection_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Sub_Market__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Dispo_Turn_Read_Write.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRTM_Manager__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.SRTM_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Coordinator__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Field_PM__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Field_PM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Manager__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Reviewer__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Reviewer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Turn_1</name>
        <label>Update Turn</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Turn_ID_on_Property_Record_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Initial_Rehab_ID__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Initial_Rehab_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection_ID__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Inspection_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Sub_Market__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Turn_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRTM_Manager__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.SRTM_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Coordinator__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Field_PM__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Field_PM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Manager__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turn_Reviewer__c</field>
            <value>
                <elementReference>$Record.Property_ID__r.Sub_Market_New__r.Turn_Reviewer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Turn_ID_on_Property_Record</name>
        <label>Update Turn ID on Property Record</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turn_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Turn_ID_on_Property_Record_1</name>
        <label>Update Turn ID on Property Record</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turn_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Turn_Record_Type</targetReference>
        </connector>
        <object>Turn__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PropertyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
</Flow>
